footer.footer {
  padding: 30px 50px;
  border-top: 1px solid #fff;
  background: #2f393c;
  color: #efefef;
  text-align: left;

  .menu {
    float: right;

    a {
      color: white;
    }
  }

  .footer-title {
    color: white;
    font-size: 2rem;
    margin-top: 0;
  }

  .social-list {

    list-style: none;
    margin-top: 23px;

    li {
      display: inline-block;
      margin-right: 11px;

    }

    li i {
      color: #2f393c;
      text-align: center;
      font-size: 16px;
      padding-top: 4px;
      padding-left: 4px;

      &:hover {
        color: $brand-secondary;
      }

    }

  }
  .social-circle {
    width: 23px;
    height: 23px;
    background: $brand-tertiary;
    -moz-border-radius: 11.5px;
    -webkit-border-radius: 11.5px;
    border-radius: 11.5px;
  }
}
