body {
  margin-top: 0px;
}

.navbar {
  padding: 20px 60px 0;
  border: 0;
  background-color: $brand-primary;
  border-radius: 0;
  margin: 0;

  .logo {
    margin: 0;
    padding-top: 15px;
  }

  #search-block-form {
    .input-group {
      float: right;
      width: 250px;
    }

    button {
      background-color:white;
      border: 1px solid #ccc;
      border-left:none;
 
    }
    button span {
      color:black
    }


  }

  .navbar-nav {
    margin-bottom: 20px;
    float: right;
  }

  .navbar-nav li {

    a {
      color: white;
      padding-top: 5px;
      padding-right: 25px;
      &:hover, &:focus {
        background-color: transparent;
        color: $brand-secondary;
      }
    }

    &.active {
      a {
        background-color: transparent;
        color: $brand-secondary;

        &:hover, &:focus {
          background-color: transparent;
          color: $brand-secondary;
        }
      }
    }
  }

  .nav-top {
    display: block;
    width: 100%;
    height: 35px;
    padding-top:5px;
  }
  .nav-top ul {
    float: right;
  }

  .nav-top ul li {

    display: inline-block;
    padding-left: 15px;

    a {
      color: white;

      &:hover {
        background-color: transparent;
        color: $brand-secondary;

      }
    }
  }

}
