.paragraph {
  @include make-row;

  .column-wrapper {
    @include container;
  }

  &.two-columns {
    .column {
      @include make-sm-column(6);
    }
  }

  &.two-columns-text {
    background-color: $brand-secondary;
    color: $text-color;
    min-height: 560px;
    padding-top: 100px;
  }

  &.header-paragraph {
    margin-top: -120px;
  }

  &.text-with-image {
    .column {
      @include make-sm-column(6);
      padding: 0;
      margin: 0;
    }

    .field--name-field-text-block {
      padding: 100px;
    }

    .field---name-field-text-image img {
      margin-top: 15px;
      width: 100%;
      height: auto;
    }
  }
}

.field--name-field-paragraph-blocks {
  > .field--item {
    margin-bottom: $grid-gutter-width / 2;
  }
}

