body {
  background-color: $main-background-color;
}

.main-container {
  > .content {
    // padding: 20px 60px 0;

    > .inner-wrapper {
      @include container;

    }
  }
}

.container-fluid {
  padding: 0;
}

.views-field-field-hero-image {

  .img-responsive {
    width: 100%;
    height: auto;

  }
}

//hardcoded constructivin1min block
.sidebar-video-text {
  padding: 15px;
  h3 {
    color: white;
  }
  p {
    color: white;
  }
}

.dark-bg {
  background-color: #5d5d5d;
}
